@import "../../../assets/font/font.css";

*{
  margin: 0;
  padding: 0;
}

.menu {
  background-color: black;
  position: fixed;
  top: 35px;
  left: 0;
  font-family: myriad_set_pro, sans-serif;
  height: 100vh;
  padding: 0;
}

ul {
  list-style: none;
}
li {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #979797;
  display: flex;
  justify-content: left;
}

.item {
  position: absolute;
  left: 50px;
  height: 50px;
  line-height: 50px;
}

.fa-plus, .fa-times {
  position: absolute;
  right: 26px;
  height: 12px;
  width: 12px;
  top: 19px;
  font-size: 12px;
}

/* Sub menu -------------------------------------------------- */
.sub-menu {
  border-bottom: 1px solid #979797;
  padding-bottom: 15px;
}
.sub-menu li {
  height: 40px;
  line-height: 40px;
  left: 65px;
  border:none;
  color: #979797;
  font-size: 16px;
}


/* Menu Item Highlight---------------------------------------- */

.mark1{
  height: 50px;
  width: 5px;
  background-color: lightskyblue;
}
.mark2{
  height: 50px;
  width: 5px;
  background-color: orange;
}
.mark3{
  height: 50px;
  width: 5px;
  background-color: purple;
}
.mark4{
  display: inline-block;
  height: 50px;
  width: 5px;
  background-color: pink;
}
.mark5{
  height: 50px;
  width: 5px;
  background-color: greenyellow;
}
.mark6{
  height: 50px;
  width: 5px;
  background-color: olive;
}

/* Media Query -----------------------------------------------------*/
@media only screen and (max-width: 415px) {
  .menu {
    width: 100vw;
  }
}
@media only screen and (min-width: 415px) {
  .menu {
    width: 280px;
  }

}
